.radioButtunContainer {
    display: flex;
    padding: 0 2rem;
    padding-right: 2rem;
}

.labelStyle {
    display: inline-block;
    font-size: 1.5rem;
}

.nameStyle {
    padding: 0 0.3rem;
    display: inline-block;
}

@font-face {
    font-family: myFirstFont;
    src: url('../../../assets/HARRP___.TTF');

}