.card {
    border: 2px solid black;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background: white;
    display: flex;
}

.flag {
    height: 36px;
    width: 36px;
}

.taskTitle {
    display: flex;
    align-items: center;
}