.titleBlock {
    display: flex;
    margin-bottom: 1.5rem;
}

.gerbBlock {
    display: flex;
    align-items: center;
}

.gerb {
    height: 9rem;
    padding: 0.2rem;
    display: flex;
}

.title {
    line-height: 3rem;
}

.subTitle {
    color: #FDDA0D;
    line-height: 0.2rem;
    font-size: 2rem;
    display: flex;
}

.subTitleBlock {
    display: flex;
}