.listContainer {
    display: flex;
    padding: 0 1rem;

}

.selectStyle {
    display: inline-block;
    font-size: 1.0rem;
    height: 2rem;
    max-width: 15rem;
}

.submitButton {
    display: inline-block;
    padding-left: 1rem;
}